body {
     background-color: rgb(228, 133, 18);
 }
h1 {
     color: brown;
     text-align: center;
 }
table, th, td {
    border: 2px black;
 }
 img{
     border: 1px blue;
     border-radius: 4px;
     padding: 5px;
     width: 150px;
 }
 div{
     background-color: crimson;
 }